@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #efefef;
    font-family: "Segoe UI", "Yu Gothic";
}

body {
	color: #222222;
	font-size: 90%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
    color: #222222;
}

img {
	width: 100%;
	max-width: 100%;
    border: none;
    border-radius: 5px;
}

/*ページの横幅指定*/
body {
	max-width: 1080px;
	padding: 0;
	margin: 0 auto;
}

/* header */
#top {
    width: 100%;
    max-width: 1080px;
    position: fixed;
    background-color: #efefef;
    display: flex;
    margin: 0 0 10px 0;
}

h1#toplogo {
    width: 8%;
    margin-top: 5px;
}

#nav {
    width: 92%;
}

ul#navi {
    float: right;
    margin-top: 5%;
}

ul#navi li {
    float: left;
}

ul#navi li a {
    color: #483d8b;
    background-color: #efefef;
    font-weight: bolder;
    letter-spacing: 0.1em;
    border: 1px dotted #888888;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
}

#mainV img {
    width: 100%;
    max-width: 1080px;
    float: center;
    margin: 100px 0 100px 0;
}

/* uplink */
#uplink {
    width: 100%;
}

div.cate, h1.cate {
    clear: both;
    text-align: center;
    width: 100%;
    letter-spacing: 0.2em;
    line-height: 1;
    background-color: rgb(221, 221, 221, 0.8);
    padding: 25px 0;
    margin: 50px 0;
}

#uplink img {
    float: left;
    width: 47%;
    margin: 10px 1.5% 150px 1.5%;
}

img#lip1000 {
    margin-left: 0;
}

img#base1000 {
    margin-right: 0;
    margin-left: 4.5%;
}

/* camp */
#camp img {
    width: 30%;
    float: left;
    border: none;
    border-radius: 5px;
    margin-bottom: 10%;
}

#camp p {
    width: 60%;
    float: right;
    padding: 8% 5% 10% 5%;
}

#camp p span {
    font-size: 80%;
}

/* brand */
#brand {
    width: 100%;
}

.about, .future {
    width: 45%;
    height: 100%;
    line-height: 2;
    background-color: rgb(255, 255, 255, 0.4);
    border: none;
    border-radius: 5px;
    padding: 0 1.5%;
    margin: 10px 1% 150px 1%;
}

.about {
    float: left;
    padding-bottom: 2%;
}

.future {
    float: right;
    padding-bottom: 2%;
}

#brand h2 {
    padding: 6% 0 2% 0;
}

#brand p {
    padding: 2%;
}

/* lineup */
#lineup {
    padding-top: 100px;
}

#lineup div.cate {
    margin: 2% auto;
}

#lineup h2 {
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 2%;
}

#lineup div.c_line {
    margin-top: 100px;
}

#lineup p.buy {
    text-align: center;
}

ul#lip, ul#base{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul#lip li, ul#base li {
    width: 25%;
    margin: 2% 0;
}

ul#lip li h3, ul#base li h3 {
    font-weight: 400;
    padding: 5%;
}

ul#lip li p, ul#base li p {
    padding: 5%;
}

/*ページの先頭へ戻る*/
.pagetop {
    clear: both;
	font-size: 1.1em;
	text-align: right;
	margin: 30px 15px;
}

.pagetop a {
	background-image: url("../link/ico_pagetop.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 10px;
}

.pagetop a:hover {
	color: #696969;
    font-weight: bolder;
}

/*ページフッター*/
#pageFoot {
	border-top: solid 1px #162162;
	margin-top: 40px;
}

#copyright {
	font-size: 12px;
	line-height: 2;
	text-align: center;
}



@media screen and (max-width: 600px) {
    #body {
        min-width: 400px;
    }

    #page {
        font-size: 90%;
    }

    /* top */
    h1#toplogo {
        width: 10%;
        margin-top: 5px;
    }
    
    #nav {
        width: 90%;
    }

    #top {
        background: none;
    }

    #top img {
        width: 100%;
    }

    ul#navi {
        font-size: 100%;
        margin-top: 5%;
    }

    ul#navi li a {
        padding: 8px 10px;
        margin: 5px;
    }

    #mainV img {
        max-width: 600px;
        padding: 100px 0 0 0;
        margin: 0;
    }

    h1.cate {
        font-size: 1.5em;
    }

    /* uplink */
    #uplink a, h2 {
        max-width: 540px;
    }

    #uplink img {
        width: 100%;
        padding: 0;
        margin: 0 0 10% 0;
    }

    #lip1000 {
        margin-bottom: 15%;
    }

    /* camp */
    #camp p {
        padding: 5% 5% 10% 5%;
    }

    /* about */
    #brand .about, #brand .future {
        float: none;
        width: 100%;
        max-width: 600px;
        padding: 0 1% 5% 1%;
        margin: 0 0 10% 0;
    }

    #brand h2 {
        font-size: 1.3em;
        padding: 5%;
    }

    #brand p {
        padding: 0 5%;
    }

    /* lineup */
    ul#lip li, ul#base li {
        width: 50%;
    }

    ul#lip li h3, ul#base li h3 {
        padding-top: 8%;
    }

    ul#lip li p, ul#base li p {
        padding-top: 8%;
    }

}
